{% extends 'base.html' %}
{%load bootstrap3 %}

{% block styles %}

{{block.super}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Fjalla+One|Heebo" rel="stylesheet">

{% endblock %}

{% block content %}

{{block.super}}

<main role="main">
    <div>
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading" style="font-size:72px;" ><b>My IP</b></h1>
                <br>
                <p class="lead text-muted"><i>An Archive of Intellectual Property.</i></p>
                <br>
            </div>
        </section>
    </div>
</main>
<hr>
<br>
{% if user.is_authenticated%}

<div class="container text-center">
    <a href="{% url 'update_profile' user.username%}">
        <button class="btn btn-info btn-lg">Update your Profile</button>
    </a>
</div>
<br>
<br>
<hr>
<br>

<div class="container">
    <div class="row container">
        <div class="col-1">
            <h1 style="text-align:center"><b>Project Archives</b></h1>
        </div>
        <br>
        <hr>
        <br>
        <div class="col-11">
            {% for project in projects %}
            <br>
            <div class="card mr-0" style="max-width:70rem; margin-top:5px;">
                <div class="card-body">
                    <div class="media">
                        <div class="media-left media-top">
                            <img class="img-fluid rounded-circle" src="{{project.user.profile.profile_pic.url}}" style="height: 300px;width: 300px;">
                            <br>
                            <br>
                            <button class="button btn-success"><a href="{{ project.github_link }}" target="_blank">Github Repository</a></button>
                            <br>
                            <br>
                            <button class="button btn-info"><a href="{{ project.live_link }}" target="_blank">Live Page</a></button>
                        </div>

                        <div class="media-body">
                            <h3 class="media-heading" style="padding:10px; margin:5px"> <a href="/project/{{project.title}}"> <b>{{ project.title }}</b></a></h3>
                            <h4 class="media-heading" style="padding:10px; margin:5px">Developed by: <a href="/profile/{{project.user.username}}"><b>{{ project.user.profile.username }}</b></a></h4>
                            <h6 class="media-content" style="padding:10px; margin:5px">{{ project.description }}</h6>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <br>
  
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

{% else %}

<div class="container">
    <div class="row container">
        <div class="col-1">
            <h1 style="text-align:center; color:rgb(116, 1, 1)"><b><u>Access Denied!</u></b></h1>
            <br>
            <h4 style="text-align:center"><i>Please log in to access this site.</i></h4>
        </div>
    </div>
</div>

{% endif %}

<br>
<hr>
<br>
<div class="container footer">
    <h6 style="text-align:center">
        <i><b>A Mugendi Production.</b></i>
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        <b style="text-align:end">MIT License(2021).</b>
    </h6>
</div>

{% endblock %}

{% block scripts %}

{{block.super}}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>

{% endblock %}