{% extends 'base.html' %}
{% block content %}

{% if profile %}

<div class="container">
    <br>
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <img src="{{user.profile.profile_pic.url}}" class="img-responsive img-rounded" style="float:left; height:300px; width:300px;">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="padding:10px;">
                <h5 style="font-size:35px;"><b>{{user.profile.username}}</b></h5>
                <br>
                <p><b>Email Address: </b>{{user.profile.email}}</p>
                <br>
                <p><b>Contact Info: </b>0/{{user.profile.contact}}</p>
                <br>
                <p>{{user.profile.bio}}</p>
                <br>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>

    {% if profile.user == current_user%}

    <a href="{% url 'update_profile' user.username%}">
        <button class="btn btn-primary">Update Profile</button>
    </a>

    {% endif %}
</div>

{% else%}

<div class="container">
    <h3>Profile has not yet been created.</h3>
    <a href="{% url 'updateProfile'%}">
        <button class="btn btn-primary">Create Profile</button>
    </a>
</div>

{% endif %}

{% endblock %}