{% extends 'base.html' %}
{% block content %}

<div class="container">
    <br>
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <img src="{{user.profile_pic.url}}" class="img-responsive img-rounded" style="float:left; height:300px; width:300px;">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="padding:10px;">
                <h5 style="font-size:35px;"><b>{{user.username}}</b></h5>
                <br>
                <p>Email Address: {{user.email}}</p>
                <br>
                <p>Contact Info: {{user.contact}}</p>
                <br>
                <p>{{user.bio}}</p>
                <br>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock %}